* {
    margin: 0px;
    min-height: 100%;
 }


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #272932 ;
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 10px;
    padding: 40px 50px;
    height: 25px;
}


.row {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 600;
}

table, thead, td, th {
    border: 1px solid black;
  }
